<template>
    <div style="margin: 0px; padding: 0px; overflow: hidden" id="app">
        <iframe
            :src="`${url}/sirs-portal?token=${token}&portal=1`"
            frameborder="0"
            style="overflow: hidden; height: 100vh; width: 100vw"
            height="100%"
            width="100%"
        ></iframe>
    </div>
</template>

<script>
export default {
    name: "App",
    props: ["token", "url"],
};
</script>
